.contactContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-content: center;
  align-items: center;
  padding-top: 220px;
}
.contactContainer h1{
  font: 600 50px "Roboto";
  color: #0C0F39;
}
.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  text-decoration: none;
  font: 200 40px "Roboto";
  cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
  padding: 40px;
  color: #FF7E36;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}
