.width-50{
  width: 25%!important;
}

.speedDial {
  position: fixed;
  right: 3vmax;
  top: 7vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
} 
.nav-logo {
  width: 100%;
  transition: all 0.5s;
}

.nav-logo:hover {
  filter: drop-shadow(0 0 10px tomato);
}

.bg-nav{
  background-color: #fbfbfb;
}

.nav-ul li a{
    display: block;
    color: #06142d;
    text-align: center;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 500;
    padding: 22px 0px;
    font-size: 16px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  ul.Navbar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    margin: 20px auto;
    justify-items: center;
    list-style: none;
  }
  .speedDial {
    top: 20vmax;
  }
}

@media (min-width: 254px) and (max-width: 767px) {

  ul.Navbar {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    margin: 30px 0;
}
ul.Navbar li {
  padding: 0px 3px;
}

.speedDial {
  top: 10vmax;
}
.width-50{
  width: 50%!important;
}
}